/* 12Bool Custom CSS */

/* Clean-up margin-padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Classe paragrafo interno alle Colonne */
.paragraph {
  background-color: pink;
  border: solid 1px black;
  height: 250px;
  width: 100%;
  position: relative;
}

/* Classe paragrafo annidato */
.nested {
  background-color: #ff777e;
}

/* Placement del testo centralmente al paragrafo */
.paragraph span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
